<!--
    分页视图    
-->
@model Domain.Paginator;

<nav class="mt-4 ml-3" aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @Model.PrePageDisabled">
            <a class="page-link" href="@Model.GetPreLink(Context.Request)" aria-label="Previous">
                <span aria-hidden="true">上一页</span>
            </a>
        </li>

        @for (int i = Model.StartIndex; i <= Model.EndIndex; ++i)
        {
            if (i == Model.Index)
            {
                <li class="page-item active" aria-current="page">
                    <span class="page-link">
                        @i
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="@Model.GetLink(Context.Request, i)">@i</a>
                </li>
            }
        }

        <li class="page-item @Model.NextPageDisablid">
            <a class="page-link" href="@Model.GetNextLink(Context.Request)" aria-label="Next">
                <span aria-hidden="true">下一页</span>
            </a>
        </li>
    </ul>
</nav>
