@model Domain.Questions.Models.QuestionDetail;

<div class="row">
    <div class="col-2 d-none d-lg-block" style="width: 150px;">
        @await Html.PartialAsync("_LeftNav")
    </div>

    <div class="col-sm-12 col-lg-8 pb-3 h-100" style="max-width: 1300px">
        <div class="d-flex pt-4 pb-4">
            <h3 class="flex-grow-1 pl-4">@Model.Title</h3>
            <div class="pr-4">
                <a class="btn btn-primary" href="/ask">我要提问</a>
            </div>
        </div>
        <div class="border-bottom border-light pb-1">
            <span class="text-secondary">提问于：</span>@Model.CreateDate
            <span class="text-secondary ml-2">最后活跃于：</span>@Model.Actived
            <span class="text-secondary ml-2">浏览：</span>@Model.Views 次
        </div>
        <div class="mt-3 d-flex">
            <div class="d-flex flex-column text-center" style="width: 50px;">
                <div>
                    <img src="~/icons/chevron-up.svg" class="pointer rounded shadow-hov" alt="赞同" height="40" name="questionVotes" onclick="questionVotesUp(@Model.Id)" />
                </div>
                <span class="h3 text-secondary" id="spn_questionVotes">@Model.Votes</span>
                <div>
                    <img src="~/icons/chevron-down.svg" class="pointer rounded shadow-hov" alt="不赞同" height="40" name="questionVotes" onclick="questionVotesDown(@Model.Id)" />
                </div>
            </div>
            <div class="d-flex flex-column mt-2 ml-4 w-100">
                <dav style="max-width: 780px;">
                    @Model.Description
                </dav>
                <div class="d-flex mt-2">
                    <div>
                        @foreach (string tag in Model.Tags)
                        {
                            <a class="tag" href="/tags/@tag" target="_blank">@tag</a>
                        }
                    </div>
                    <div class="flex-grow-1 d-flex flex-row-reverse mr-4">
                        <div class="d-flex flex-column">
                            <div class="d-flex mt-2">
                                <a href="/users/@Model.User.Account" target="_blank">
                                    <img src="@Model.User.Avatar" alt="名字" width="35" height="35" class="img-thumbnail mr-2" />
                                </a>
                                <div class="d-flex flex-column">
                                    <a href="/users/@Model.User.Account" target="_blank">@Model.User.Account</a>
                                    <span>--</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="mt-3 mb-2 border-bottom">
                <h4>
                    <span class="tab">
                        回答
                    </span>
                </h4>
            </div>
            <div class="p-1">
                <div>
                    @await Html.PartialAsync("_Paginator", Model.Page)
                </div>

                @if (Model.Page.TotalRows == 0)
                {
                    <div class="ml-3">
                        当前还没有回答，您可以
                        <a href="javascript:;" onclick="writeYourAnswer()">写下您的答案</a>
                    </div>
                }

                @foreach (var answer in Model.Page.GetList<Domain.Answers.Models.AnswerItem>())
                {
                    <div class="flex-column">
                        <div class="d-flex pt-3 pb-3">
                            <div class="d-flex flex-column text-center">
                                <div>
                                    <img src="~/icons/chevron-up.svg" class="pointer rounded shadow-hov" alt="赞同" height="40" name="answerVotes_@answer.Id" onclick="answerVotesUp(@answer.Id)" />
                                </div>
                                <span class="h3 text-secondary" id="spn_answerVotes_@answer.Id">@answer.Votes</span>
                                <div>
                                    <img src="~/icons/chevron-down.svg" class="pointer rounded shadow-hov" alt="不赞同" height="40" name="answerVotes_@answer.Id" onclick="answerVotesDown(@answer.Id)" />
                                </div>
                            </div>
                            <div class="d-flex flex-column ml-4 w-100">
                                <div class="pr-4" style="overflow-wrap: break-word; max-width: 780px;">
                                    @answer.Content
                                </div>
                                <div class="d-flex flex-row-reverse mr-4 mt-3">
                                    <div class="d-flex flex-column">
                                        <small>回答于：@answer.CreateDate</small>
                                        @if (answer.User.Id == 0)
                                        {
                                            <div class="d-flex mt-2">
                                                回答者：@answer.User.Account
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex mt-2">
                                                <a href="/users/@answer.User.Account" target="_blank">
                                                    <img src="@answer.User.Avatar" alt="名字" width="35" height="35" class="img-thumbnail mr-2" />
                                                </a>
                                                <div class="d-flex flex-column">
                                                    <a href="/users/@answer.User.Account" target="_blank">@answer.User.Account</a>
                                                    <span>--</span>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                    </div>
                }

                <div>
                    @await Html.PartialAsync("_Paginator", Model.Page)
                </div>
            </div>
        </div>

        <div>
            <form>
                <div id="d_nickName">
                    <label>
                        您当前没有登录，可以
                        <a href="javascript:;" id="a_login">登录</a>
                        或匿名写下答案
                    </label>
                    <input type="text" class="form-control" id="txt_nickName" value="匿名" placeholder="昵称或登录" />
                </div>
                <label for="txt_answer">你的回答</label>
                <textarea class="form-control" id="txt_answer" rows="5" required placeholder="写下你的答案"></textarea>
                <button type="button" class="btn btn-primary mt-3" onclick="newAnswer()">提交</button>
            </form>
        </div>

    </div>

    <div class="col-2 d-none d-lg-block">
        @await Html.PartialAsync("_RightNav")
    </div>
</div>
@section Scripts {
    <script src="~/lib/axios/axios.min.js"></script>
    <script>
        $(function () {
            if (isLogged())
                document.getElementById('d_nickName').setAttribute('hidden', 'hidden');

            document.getElementById('a_login').href = `/login?${REDIRECT_TO}=${location.pathname + location.search}`;
        });

        function writeYourAnswer() {
            document.getElementById('txt_answer').focus();
        }

        function questionVotesUp(id) {
            disabledQuestionVotes();

            const VOTES_STR = document.getElementById('spn_questionVotes');
            const VOTES = parseInt(VOTES_STR.innerHTML);
            VOTES_STR.innerHTML = VOTES + 1;

            axios.patch(`/questions/${id}/like`);
        }

        function questionVotesDown(id) {
            disabledQuestionVotes();

            const VOTES_STR = document.getElementById('spn_questionVotes');
            const VOTES = parseInt(VOTES_STR.innerHTML);
            VOTES_STR.innerHTML = VOTES - 1;

            axios.patch(`/questions/${id}/unlike`);
        }
        function disabledQuestionVotes() {
            const ELE_VOTES = document.getElementsByName('questionVotes');
            for (var i = 0; i < ELE_VOTES.length; i++) {
                const _this = ELE_VOTES[i];
                _this.removeAttribute('onclick');
                _this.classList.remove('shadow-hov');
                _this.style.cursor = 'default';
            }
        }

        function answerVotesUp(id) {
            disabledAnswerVotes(id);

            const VOTES_STR = document.getElementById('spn_answerVotes_' + id);
            const VOTES = parseInt(VOTES_STR.innerHTML);
            VOTES_STR.innerHTML = VOTES + 1;

            axios.patch(`/answers/${id}/like`);
        }

        function answerVotesDown(id, _this) {
            disabledAnswerVotes(id);

            const VOTES_STR = document.getElementById('spn_answerVotes_' + id);
            const VOTES = parseInt(VOTES_STR.innerHTML);
            VOTES_STR.innerHTML = VOTES + 1;

            axios.patch(`/answers/${id}/unlike`);
        }
        function disabledAnswerVotes(id) {
            const ELE_VOTES = document.getElementsByName('answerVotes_' + id);
            for (var i = 0; i < ELE_VOTES.length; i++) {
                const _this = ELE_VOTES[i];
                _this.removeAttribute('onclick');
                _this.classList.remove('shadow-hov');
                _this.style.cursor = 'default';
            }
        }

        function newAnswer() {

            const FORM = new FormData();
            FORM.append('content', $('#txt_answer').val());
            FORM.append('nickName', $('#txt_nickName').val().trim());

            axios.post('/questions/@Model.Id/answer', FORM)
                .then(function (resp) {
                    if (resp.status === 200) {
                        location.reload();
                    } else {
                        alert(resp.data.message);
                    }
                })
                .catch(function (err) {
                    catchErr(err);
                });
        }
    </script>
}
