@{
//  ViewBag.Title = "有个bug，程序员的技术问答社区";
}
@model yougebug_back.ViewModels.Questions.SearchModel;


<div class="row">

    <div class="col-2 d-none d-lg-block" style="width: 150px;">
        @await Html.PartialAsync("_LeftNav")
    </div>
    <div class="col-sm-12 col-lg-8 h-100" style="max-width: 1300px">
        <div class="d-flex pt-4 pb-4">
            <h2 class="flex-grow-1 pl-4">搜索结果</h2>
            <div class="pr-4">
                <a class="btn btn-primary btn-lg" href="/ask">我要提问</a>
            </div>
        </div>
        <div class="d-flex flex-column border-bottom border-secondary pb-4">
            <div class="pb-2">
                <strong>关于 @Model.Search 的搜索</strong>
            </div>
            <div class="pb-2">
                <form action="/questions/search" id="fom_searchIn" method="get" onsubmit="return searchIn()" class="d-flex align-items-center">
                    <label for="txt_search">
                        <img src="~/icons/search.svg" class="mt-2 mr-1" alt="搜索" width="30" height="30" />
                    </label>
                    <input class="form-control search-box" type="search" id="txt_searchIn" placeholder="按回车搜索..." required value="@Model.Search" />
                    <button class="btn btn-primary btn-sm flex-grow-1 ml-3" type="submit" style="width: 55px;height : 35px;">搜索</button>
                </form>
            </div>
            <div class="pb-2">
                <strong>有 @Model.Page.TotalRows 条结果</strong>
            </div>
        </div>
        <div>
            @foreach (var item in Model.Page.GetList<Domain.Questions.Models.QuentionItem_Client>())
            {
                <div class="border-bottom border-secondary pt-3 pb-2 d-flex flex-column">
                    <div class="d-flex">
                        <div class="d-flex flex-column statistics">
                            <div class="d-flex flex-column p-2 text-center">
                                <span class="h5 text-secondary font-weight-bold">
                                    @item.VoteCounts
                                </span>
                                <span class="h6 text-secondary">
                                    推荐
                                </span>
                            </div>
                            <div class="d-flex flex-column p-2 text-center">
                                <span class="h5 text-secondary font-weight-bold">
                                    @item.AnswerCounts
                                </span>
                                <span class="h6 text-secondary">
                                    回答
                                </span>
                            </div>
                        </div>
                        <div class="d-flex flex-column pl-3 pr-3 statement">
                            <a href="/questions/@item.Id" class="pt-2 pb-2" target="_blank">@item.Title</a>
                            <dav class="small">@item.Description</dav>
                            <div class="d-flex">
                                <div>
                                    @foreach (string tag in item.Tags)
                                    {
                                        <a class="tag" href="/tags?name=@tag" target="_blank">@tag</a>
                                    }
                                </div>
                                <div class="flex-grow-1 d-flex flex-row-reverse mr-4">
                                    <div class="d-flex flex-column">
                                        提问于：@item.CreateDate
                                        <div class="d-flex mt-2">
                                            <a href="/users/@item.AskerName" target="_blank">
                                                <img src="@item.AskerAvatar" alt="名字" width="35" height="35" class="img-thumbnail mr-2" />
                                            </a>
                                            <div class="d-flex flex-column">
                                                <a href="/users/@item.AskerName" target="_blank">@item.AskerName</a>
                                                <span>--</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="text-secondary small ml-2">@item.ViewCounts 人浏览</h6>
                </div>
            }

            @await  Html.PartialAsync("_Paginator", Model.Page)

        </div>
    </div>

    <div class="col-2 d-none d-lg-block">
        @await Html.PartialAsync("_RightNav")
    </div>
</div>

@section Scripts {
    <script>

        function searchIn() {
            const searchContent = document.getElementById('txt_searchIn').value.trim();
            if (!searchContent)
                return false;
            const fom = document.getElementById('fom_searchIn');
            fom.action += `/${searchContent}`;
            fom.submit();
        }

    </script>
}